In [1]:
!sudo apt install libspatialindex-dev

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libspatialindex-c4v5 libspatialindex4v5
The following NEW packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
0 upgraded, 3 newly installed, 0 to remove and 11 not upgraded.
Need to get 555 kB of archives.
After this operation, 3,308 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex4v5 amd64 1.8.5-5 [219 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-c4v5 amd64 1.8.5-5 [51.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-dev amd64 1.8.5-5 [285 kB]
Fetched 555 kB in 2s (277 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 3.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package libspatialindex4v5:amd64.
(Reading database ... 144628 files and directories currently installed.)
Preparing to unpack .../libspatialindex4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package libspatialindex-c4v5:amd64.
Preparing to unpack .../libspatialindex-c4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-c4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package libspatialindex-dev:amd64.
Preparing to unpack .../libspatialindex-dev_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-dev:amd64 (1.8.5-5) ...
Setting up libspatialindex4v5:amd64 (1.8.5-5) ...
Setting up libspatialindex-c4v5:amd64 (1.8.5-5) ...
Setting up libspatialindex-dev:amd64 (1.8.5-5) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

In [2]:
!wget https://github.com/Inder-Dhillon/Toronto-Accidents-As-A-Network/blob/main/accident.py?raw=true
!mv accident.py\?raw\=true accident.py

--2020-11-06 17:57:08--  https://github.com/Inder-Dhillon/Toronto-Accidents-As-A-Network/blob/main/accident.py?raw=true
Resolving github.com (github.com)... 52.69.186.44
Connecting to github.com (github.com)|52.69.186.44|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/Inder-Dhillon/Toronto-Accidents-As-A-Network/raw/main/accident.py [following]
--2020-11-06 17:57:08--  https://github.com/Inder-Dhillon/Toronto-Accidents-As-A-Network/raw/main/accident.py
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/Inder-Dhillon/Toronto-Accidents-As-A-Network/main/accident.py [following]
--2020-11-06 17:57:08--  https://raw.githubusercontent.com/Inder-Dhillon/Toronto-Accidents-As-A-Network/main/accident.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 226 [text/plain]
Saving to: ‘accident.py?raw=true’

accident.py?raw=tru 100%[===================>]     226  --.-KB/s    in 0s

2020-11-06 17:57:08 (5.56 MB/s) - ‘accident.py?raw=true’ saved [226/226]

In [3]:
pip install osmnx

Collecting osmnx
  Downloading https://files.pythonhosted.org/packages/ed/91/ad30e3ed4d16140f975f05adc13c1ca0146d61438dfabe01bf66025a44e5/osmnx-0.16.1-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 2.2MB/s
Collecting matplotlib>=3.3
  Downloading https://files.pythonhosted.org/packages/cd/d6/8c4dfb23151d5a494c66ebbfdb5c8c433b44ec07fae52da5939fcda0943f/matplotlib-3.3.2-cp36-cp36m-manylinux1_x86_64.whl (11.6MB)
     |████████████████████████████████| 11.6MB 348kB/s
Requirement already satisfied: networkx>=2.5 in /usr/local/lib/python3.6/dist-packages (from osmnx) (2.5)
Collecting Rtree>=0.9
  Downloading https://files.pythonhosted.org/packages/56/6f/f1e91001d5ad9fa9bed65875152f5a1c7955c5763168cae309546e6e9fda/Rtree-0.9.4.tar.gz (62kB)
     |████████████████████████████████| 71kB 8.9MB/s
Requirement already satisfied: descartes>=1.1 in /usr/local/lib/python3.6/dist-packages (from osmnx) (1.1.0)
Collecting numpy>=1.19
  Downloading https://files.pythonhosted.org/packages/87/86/753182c9085ba4936c0076269a571613387cdb77ae2bf537448bfd63472c/numpy-1.19.4-cp36-cp36m-manylinux2010_x86_64.whl (14.5MB)
     |████████████████████████████████| 14.5MB 317kB/s
Collecting pyproj>=2.6
  Downloading https://files.pythonhosted.org/packages/e4/ab/280e80a67cfc109d15428c0ec56391fc03a65857b7727cf4e6e6f99a4204/pyproj-3.0.0.post1-cp36-cp36m-manylinux2010_x86_64.whl (6.4MB)
     |████████████████████████████████| 6.5MB 46.3MB/s
Requirement already satisfied: Shapely>=1.7 in /usr/local/lib/python3.6/dist-packages (from osmnx) (1.7.1)
Requirement already satisfied: pandas>=1.1 in /usr/local/lib/python3.6/dist-packages (from osmnx) (1.1.4)
Collecting requests>=2.24
  Downloading https://files.pythonhosted.org/packages/45/1e/0c169c6a5381e241ba7404532c16a21d86ab872c9bed8bdcd4c423954103/requests-2.24.0-py2.py3-none-any.whl (61kB)
     |████████████████████████████████| 71kB 9.3MB/s
Collecting geopandas>=0.8
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 47.7MB/s
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx) (7.0.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx) (1.3.1)
Requirement already satisfied: certifi>=2020.06.20 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx) (2020.6.20)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx) (2.4.7)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx>=2.5->osmnx) (4.4.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from Rtree>=0.9->osmnx) (50.3.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.1->osmnx) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24->osmnx) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24->osmnx) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24->osmnx) (3.0.4)
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/36/8b/e8b2c11bed5373c8e98edb85ce891b09aa1f4210fd451d0fb3696b7695a2/Fiona-1.8.17-cp36-cp36m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 261kB/s
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib>=3.3->osmnx) (1.15.0)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/ba/06/e3440b1f2dc802d35f329f299ba96153e9fcbfdef75e17f4b61f79430c6a/cligj-0.7.0-py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas>=0.8->osmnx) (7.1.2)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas>=0.8->osmnx) (20.2.0)
Building wheels for collected packages: Rtree
  Building wheel for Rtree (setup.py) ... done
  Created wheel for Rtree: filename=Rtree-0.9.4-cp36-none-any.whl size=21770 sha256=1c07214d54d577d7431e30cbe944970a3a48e5d459ff1a1802af0691d2754734
  Stored in directory: /root/.cache/pip/wheels/ff/20/c5/0004ef7acb96745ec99be960053902b0b414a2aa2dcad5834e
Successfully built Rtree
ERROR: tensorflow 2.3.0 has requirement numpy<1.19.0,>=1.16.0, but you'll have numpy 1.19.4 which is incompatible.
ERROR: google-colab 1.0.0 has requirement requests~=2.23.0, but you'll have requests 2.24.0 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: numpy, matplotlib, Rtree, pyproj, requests, cligj, munch, click-plugins, fiona, geopandas, osmnx
  Found existing installation: numpy 1.18.5
    Uninstalling numpy-1.18.5:
      Successfully uninstalled numpy-1.18.5
  Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
  Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed Rtree-0.9.4 click-plugins-1.1.1 cligj-0.7.0 fiona-1.8.17 geopandas-0.8.1 matplotlib-3.3.2 munch-2.5.0 numpy-1.19.4 osmnx-0.16.1 pyproj-3.0.0.post1 requests-2.24.0

In [4]:
import osmnx as ox
import networkx as nx
import pandas as pd
import json
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
from accident import ACCIDENT

In [5]:
G = ox.graph_from_place('Toronto, Ontario, Canada', network_type='drive')

In [6]:
#G = ox.consolidate_intersections(ox.project_graph(G), tolerance=30, rebuild_graph=True)

In [7]:
ox.plot_graph(G, bgcolor='white', node_size=0.3, node_color="red", edge_linewidth=0.4, edge_alpha=1, dpi=300, figsize=(10,10))

ImportError: ignored

(<Figure size 720x720 with 1 Axes>,
 <matplotlib.axes._subplots.AxesSubplot at 0x7f5c321c90f0>)

In [8]:
print(nx.info(G))

Name:
Type: MultiDiGraph
Number of nodes: 27440
Number of edges: 73176
Average in degree:   2.6668
Average out degree:   2.6668

In [9]:
edges =  list(G.edges.data())
edges[160]

(3463503,
 3463505,
 {'geometry': <shapely.geometry.linestring.LineString at 0x7f5c31d326d8>,
  'highway': 'secondary',
  'lanes': '4',
  'length': 119.022,
  'maxspeed': '50',
  'name': 'Lawrence Avenue East',
  'oneway': False,
  'osmid': 163720386})

In [10]:
nodes =  list(G.nodes.data())
nodes[1]

(1497798, {'osmid': 1497798, 'x': -79.3355379, 'y': 43.7580721})

In [11]:
nx.number_of_selfloops(G)

762

## KSI Dataset:

In [12]:
ksi_df = gpd.read_file("https://opendata.arcgis.com/datasets/cc17cc27ee5a4989b78d9a3810c6c007_0.geojson")

In [13]:
ksi_df.head()

    Index_  ACCNUM  ...  ObjectId                    geometry
0  3389067  893184  ...         1  POINT (-79.31880 43.69960)
1  3389068  893184  ...         2  POINT (-79.31880 43.69960)
2  3389069  893184  ...         3  POINT (-79.31880 43.69960)
3  3389070  893184  ...         4  POINT (-79.31880 43.69960)
4  3389071  893184  ...         5  POINT (-79.31880 43.69960)

[5 rows x 55 columns]

In [14]:
def assign_injury_index(injury:str):
  if injury == "Minimal":
    return 0.4
  elif injury == "Minor":
    return 0.6
  elif injury == "Major":
    return 0.8
  elif injury == "Fatal":
    return 1.0
  else:
    return 0.2

In [15]:
ksi_df["INJ_INDEX"] = ksi_df["INJURY"].apply(lambda x: assign_injury_index(x))

In [16]:
index_df = ksi_df[["ACCNUM", "INJ_INDEX"]].groupby(by="ACCNUM").sum()

Combining Date and Hour to have one single column:

In [17]:
ksi_df["DATE"] = pd.to_datetime(ksi_df['DATE']).dt.floor("D") + pd.to_timedelta(ksi_df["HOUR"], unit="hour")

Add datapoints to keep here:

In [18]:
cols_to_keep = ["LATITUDE", "LONGITUDE", "ACCNUM", "DATE", "VISIBILITY", "LIGHT",	"RDSFCOND"]
ksi_df = ksi_df[cols_to_keep]

Counting fatalities using duplicate rows:

In [19]:
fatalities = ksi_df["ACCNUM"].value_counts()
ksi_df["FATALITIES"] = ksi_df["ACCNUM"].apply(lambda x : fatalities[x])

In [20]:
ksi_df = ksi_df.drop_duplicates()
ksi_df.reset_index(drop=True, inplace=True)

In [21]:
ksi_df["G_NODE"]= ox.get_nearest_nodes(G, ksi_df["LONGITUDE"], ksi_df["LATITUDE"], method="balltree")
ksi_df.drop(["LATITUDE", "LONGITUDE"], axis=1, inplace=True)

In [22]:
ksi_df = ksi_df.merge(index_df, on="ACCNUM")

In [23]:
ksi_df = ksi_df.infer_objects()
ksi_df

          ACCNUM                      DATE  ...     G_NODE INJ_INDEX
0         893184 2006-01-01 02:00:00+00:00  ...   33771082       4.2
1         909646 2006-01-01 03:00:00+00:00  ...  158754118       2.4
2         884090 2006-01-02 07:00:00+00:00  ...   21631723       1.0
3         885782 2006-01-04 19:00:00+00:00  ...   26007459       1.0
4         882079 2006-01-06 22:00:00+00:00  ...  259750208       1.0
...          ...                       ...  ...        ...       ...
5685  9002468442 2019-12-23 06:00:00+00:00  ...   86186677       1.0
5686  9002471073 2019-12-23 14:00:00+00:00  ...  287946845       1.8
5687  9002481518 2019-12-25 08:00:00+00:00  ...    1498033       1.0
5688  9002496688 2019-12-27 23:00:00+00:00  ...  392516842       1.0
5689  9002500260 2019-12-28 15:00:00+00:00  ...   29603262       1.2

[5690 rows x 8 columns]

Creating column of accident objects:

In [24]:
ksi_df["ACCIDENT"] = ksi_df.apply(lambda x: ACCIDENT(x["ACCNUM"], x["DATE"], x["VISIBILITY"], x["LIGHT"], x["RDSFCOND"], x["FATALITIES"], x["INJ_INDEX"]), axis=1)

In [25]:
ksi_df

          ACCNUM  ...                                           ACCIDENT
0         893184  ...  ACCIDENT(acc_id='893184', date=Timestamp('2006...
1         909646  ...  ACCIDENT(acc_id='909646', date=Timestamp('2006...
2         884090  ...  ACCIDENT(acc_id='884090', date=Timestamp('2006...
3         885782  ...  ACCIDENT(acc_id='885782', date=Timestamp('2006...
4         882079  ...  ACCIDENT(acc_id='882079', date=Timestamp('2006...
...          ...  ...                                                ...
5685  9002468442  ...  ACCIDENT(acc_id='9002468442', date=Timestamp('...
5686  9002471073  ...  ACCIDENT(acc_id='9002471073', date=Timestamp('...
5687  9002481518  ...  ACCIDENT(acc_id='9002481518', date=Timestamp('...
5688  9002496688  ...  ACCIDENT(acc_id='9002496688', date=Timestamp('...
5689  9002500260  ...  ACCIDENT(acc_id='9002500260', date=Timestamp('...

[5690 rows x 9 columns]

Collapsing dataset to get list of accidents for each node:

In [26]:
ksi_df = ksi_df.groupby('G_NODE')['ACCIDENT'].apply(list).reset_index(name='ACCIDENTS')

In [27]:
ksi_df

          G_NODE                                          ACCIDENTS
0        1497983  [ACCIDENT(acc_id='7000804511', date=Timestamp(...
1        1498018  [ACCIDENT(acc_id='1126375', date=Timestamp('20...
2        1498033  [ACCIDENT(acc_id='1152152', date=Timestamp('20...
3        1498042  [ACCIDENT(acc_id='1298032', date=Timestamp('20...
4        1498116  [ACCIDENT(acc_id='7001054440', date=Timestamp(...
...          ...                                                ...
3704  7620170933  [ACCIDENT(acc_id='1025433', date=Timestamp('20...
3705  7870612785  [ACCIDENT(acc_id='7002059893', date=Timestamp(...
3706  7870612852  [ACCIDENT(acc_id='922700', date=Timestamp('200...
3707  7891518884  [ACCIDENT(acc_id='143084786', date=Timestamp('...
3708  8043199175  [ACCIDENT(acc_id='6002100980', date=Timestamp(...

[3709 rows x 2 columns]

Converting dataset to dict to set node attributes:

In [28]:
attr = ksi_df.set_index('G_NODE')['ACCIDENTS'].to_dict()

In [29]:
nx.set_node_attributes(G, [], "accident_list")
nx.set_node_attributes(G, attr, "accident_list")

Example Nodes:

In [30]:
G.nodes[1497793]

{'accident_list': [],
 'highway': 'motorway_junction',
 'osmid': 1497793,
 'ref': '14',
 'x': -79.3346901,
 'y': 43.7555309}

In [31]:
G.nodes[158754118]

{'accident_list': [ACCIDENT(acc_id='909646', date=Timestamp('2006-01-01 03:00:00+0000', tz='UTC'), visibility='Snow', light='Dark, artificial', road_conditions='Slush', fatalities=5, inj_index=2.4000000000000004)],
 'osmid': 158754118,
 'x': -79.3162254,
 'y': 43.6849494}